<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="io.github.royakem.OpenLiveGamer4K.audio">
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/openlivegamer4k/audio-helper</annotate>
    <description>Change GC573 HDMI audio mode</description>
    <message>Authentication is required to change GC573 HDMI audio mode</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
